system:
  appEnv: "debug"
  httpPort: ":8080"

mysql:
  dbHost: "127.0.0.1"
  dbPort: "3306"
  dbName: "douyin"
  userName: "root"
  password: "123456"
  charset: "utf8mb4"
  maxIdleConns: 20
  maxOpenConns: 100
  connMaxLifetime: 30

redis:
  redisDbName: "1"
  redisHost: "127.0.0.1"
  redisPort: "6379"
  redisPassword: "123456"
  redisNetwork: "tcp"

log:
  level: "info"           # 日志级别: debug, info, warn, error, dpanic, panic, fatal, 默认 info
  format: "console"       # 输出格式: console, json
  prefix: "[douyin] "     # 日志前缀
  directory: "storage/log"        # 存放日志的文件夹
  showLine: true          # 是否显示哪行调用
  logInConsole: true      # 是否输出到控制台
  maxSize: 500            # 每个日志文件保存500M
  maxBackups: 3           # 备份数量
  maxAge: 28              # 日志留存时间
  compress: false         # 是否压缩

qiniu:
  accessKey:
  secretKey
  bucket
  domain

jwt:
  sign_key: "QQYnRFerJTSEcrfB89fw8prOaObmrch8"