system:
  httpPort: "8080"               # autoTLS为none时设定http服务运行端口 字符串
  autoTLS: "none"                # 非none则自动签发TLS证书并加密服务: none, 域名字符串
  ffmpeg: "system"               # 设定FFmpeg二进制位置(或使用系统默认): system, 路径字符串
  tempDir: "./temp"              # 临时目录路径(或使用系统默认): system, 路径字符串

mysql:
  dbHost: "127.0.0.1"            # MySQL数据库地址 字符串
  dbPort: "3306"                 # MySQL数据库端口 字符串
  dbName: "tiny_douyin"          # MySQL数据库名 字符串
  username: "root"               # MySQL用户名 字符串
  password: "tiny-douyin"        # MySQL密码 字符串
  tls: "preferred"               # MySQL加密连接(TLS)模式: true, false, skip-verify, preferred

oss:
  service: "minio"               # 对象存储服务提供者(如使用S3兼容服务请选择minio): minio, qiniu
  ossHost: "127.0.0.1"           # 对象存储服务地址(因用于生成对象URL, 请设置为公网的不含协议类型等的纯地址或纯域名) 字符串
  ossPort: "9000"                # 对象存储服务端口(service为qiniu时此项无效) 字符串
  ossRegion: "default"           # 存储桶区域(或使用默认行为): default, 区域字符串
  bucketName: "tiny-douyin"      # 存储桶名 字符串
  accessKeyID: "tiny-douyin"     # 访问ID 字符串
  secretAccessKey: "tiny-douyin" # 访问密钥 字符串
  tls: false                     # 是否使用TLS连接及生成URL 布尔值
  expiry: 24                     # 外链过期时间(单位为小时) 数值

redis:
  redisHost: "127.0.0.1"         # Redis数据库地址 字符串
  redisPort: "6379"              # Redis数据库端口 字符串
  redisDB: 0                     # Redis数据库号 数值
  username: "tiny-douyin"        # Redis用户名(可选none): none, 用户名字符串
  password: "tiny-douyin"        # Redis密码(可选none): none, 密码字符串
  tls: false                     # 是否使用TLS连接 布尔值

log:
  path: "./log"                  # 日志输出路径 字符串
  level: "info"                  # 日志级别: debug, info, warn, error, dpanic, panic, fatal
  prefix: "[douyin] "            # 日志前缀 字符串
  showLine: true                 # 是否显示调用行号 布尔值
  maxSize: 100                   # 单个日志文件最大大小(单位为MB) 数值
  maxBackups: 3                  # 最多保留数量 数值
  maxAge: 7                      # 最多保留天数 数值
  compress: false                # 是否gzip压缩 布尔值
